version: "3"
services:
  backend:
    build: ./server
    ports:
      - "8000:8000"
    env_file:
      - ./server/.env

  frontend:
    build: ./client
    ports:
      - "3000:3000"
    environment:
      - API_BASE=http://backend:8000
    depends_on:
      - backend
